div .traffic-pole {
    height: 70%;
    width: 500px;
    border-radius: 5%;
}

.traffic-lights {
    margin: auto;
}

.light {
    height: 250px;
    width: 250px;
    margin: auto auto;
    border-radius: 50%;
}