div .traffic-pole {
    height: 1000px;
    width: 500px;
    border-radius: 5%;
    padding: auto;
}

.traffic-lights {
    margin: auto;
}


.light {
    height: 250px;
    width: 250px;
    margin: auto auto;
    border-radius: 50%;
}

.selected {
    box-shadow: 0 0 100px white;
}